---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section class="space-y-4 text-black dark:text-white">
 <h1 class="text-3xl font-bold text-teal-600 dark:text-teal-400">Social</h1>

    <p>More places to find me online.</p>

    <!-- Sample content -->
    <ul class="list-disc pl-6 space-y-2">
      <li>Bluesky</li>
      <li>Twitch.tv</li>
      <li>Maybe more later?</li>
    </ul>
  </section>
</BaseLayout>
